<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/config.css">
    <link rel="stylesheet" href="../static/styles/StyleP.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <div class="side-bar">

        <div id="bot">
            <button><i class="fa-regular fa-user" id="config-ct"></i>Conta</button>
            <div class="bar"></div>
            <button><i class="fa-solid fa-image" id="config-ap"></i>Aparência</button>
            <div class="bar"></div>
            <button><i class="fa-regular fa-star" id="config-adm"></i>Administração</button>
        </div>

        <div class="down-bar">
            <button onclick="location.href='home.html'">Voltar</button>
            <button id="redef-config">Redefinir configs</button>
        </div>
    </div>
    
</body>
</html>