<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerente de Contas</title>
    <link rel="stylesheet" href="../static/styles/contas.css">
    <link rel="stylesheet" href="../static/styles/StyleP.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">  <!-- icones -->
</head>
<body>

    <div class="up-bar">

        <div>

            <img src="../static/img/Logo.png" alt="not found" id="logo">

        </div>

        <button class="bt margin" onclick="location.href='../templates/home.html'">Voltar</button>
        <button id="add-account" class="bt margin">Nova Conta</button>

        <div class="search-bar">
            <input type="text" placeholder="Procurar..." id="pesquisar">
            <button><i class="fas fa-search"></i></button>
        </div>

        <h1 class="titulo">CONTAS</h1>

        <img src="../static/img/default-profile.png" alt="not found" id="PFimage">

    </div>

    <div>

        {aqui a baixo vão ficar as contas, como uma parte rolavel da página}

    </div>
    
</body>
</html>