<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerente de Contas</title>
    <link rel="stylesheet" href="../static/styles/contas.css">
    <link rel="stylesheet" href="../static/styles/StyleP.css">
</head>
<body>

    <div class="up-bar">

        <div>

            <img src="../static/img/Logo.png" alt="not found" id="logo">

        </div>

        <button class="bt margin">Voltar</button>

        <input type="text" class="margin txt-input">

    </div>

    <div>

        {aqui a baixo vão ficar as contas, como uma parte rolavel da página}

    </div>
    
</body>
</html>