<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/StyleP.css">
    <link rel="stylesheet" href="../static/styles/home.css">
    <link rel="stylesheet" href="../static/styles/animation.css">
</head>
<body>

    <div class="side-bar">

        <div class="logo">

            <img src="../static/img/Logo.png" alt="not-found">

        </div>

        <div class="bar"></div>

        <div class="panel">

            <button class="bt" id="GC" onclick="location.href='contas.html'">Contas</button>
            <button class="bt" id="GD">Depesas</button>
            <button class="bt" id="PG">PlayGround</button>
            <button class="bt" id="Config">Config</button>

        </div>

        <div class="profile">

            <img src="../static/img/default-profile.png" alt="not-found" id="PFimage">

            <div>

                <p>nome de usuário</p>
                <p>email de usuário</p>

            </div>

        </div>

    </div>

    <div class="">

        <div class="img-slider box">

            <div class="image" id="Slider">

                <img src="aqui vão ficar as imagens" alt="imagens serão exibidas aqui">

            </div>

        </div>

        <div class="txt-slider box2">

            <div class="txt">

                <p>{texto será exibido aqui}</p>

            </div>

        </div>

    </div>
    
</body>
</html>