.side-bar{

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    color:rgb(214, 214, 214);
    background-color: rgb(37, 37, 37);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.side-bar button{

    background-color: rgb(37, 37, 37);
    border: none;
    color: rgb(214, 214, 214);
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-start;
    margin-left: 5px;
    padding: 10px;
    border-radius: 15px;
    width: 90%;
    
}

.side-bar button:hover{

    background-color: rgb(61, 61, 61);
}

.bar{

    height: 3px;
    width: 90%;
    background-color: rgb(20, 20, 20);
    align-self: center;
}

.down-bar{

    display: flex;
    background-color: rgb(20, 20, 20);
    padding: 20px;
    margin-top: auto;

}

.down-bar button{

    background-color: blueviolet;
    border: none;
    border-radius: 15px;
    color: black;
    padding: 10px;

}

#bot{

    margin-top: 200px;
}