body{

    display: flex;
    flex-direction: row;
}
.side-bar{

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    color:rgb(214, 214, 214);
    background-color: rgb(37, 37, 37);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.side-bar button{

    background-color: rgb(37, 37, 37);
    border: none;
    color: rgb(214, 214, 214);
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-start;
    margin-left: 5px;
    padding: 10px;
    border-radius: 15px;
    width: 90%;
    
}

.side-bar button:hover{

    background-color: rgb(61, 61, 61);
}

.bar{

    height: 3px;
    width: 90%;
    background-color: rgb(20, 20, 20);
    align-self: center;
}

.down-bar{

    display: flex;
    background-color: rgb(20, 20, 20);
    padding: 20px;
    margin-top: auto;

}

.down-bar button{

    background-color: blueviolet;
    border: none;
    border-radius: 15px;
    color: black;
    padding: 10px;

}

#bot{

    margin-top: 200px;
}

/* perfil */

.content{

    height: 100vh;
    width: 100vh;
    margin-left: 10px;
    display: flex;
}

.content img{

    border-radius: 50px;
    height: 100px;
    width: 100px;
}

.profile{

    display: none;

    margin: 50%;
    margin-top: 50px;
}

.info{

    display: flex;
    flex-direction: column;
    
}

.flex-row{

    display: flex;
    flex-direction: row;

}

.bt{

    padding: 5px;
    margin: 10px;
    border-radius: 50px !important;
    height: 40px ;
    width: 40px ;
    background-color: rgba(240, 248, 255, 0) !important;
}

.bt:hover{

    color: azure;
}

/* Temas & desing */

.temePersona{
    height: 300px;
    width: 500px;
    margin-top: 50px;
}

.sample{

    height: 250px;
    width: 450px;
    margin: 50px;
    background-color: brown;
}

.claro{

    background-color: azure;
    height: 100%;
    width: 50%;
    align-content: center;

}

.claro button{

    background-color: aqua;
    border: none;
    margin: 30%;
    padding: 5px;
    border-radius: 10px;
}

.claro button:hover{

    background-color: rgb(0, 183, 255);
    color: azure;
}

.escuro{

    background-color: rgb(31, 31, 31);
    height: 100%;
    width: 50%;
    align-content: center;

}

.escuro button{

    background-color: #7f5af0;
    border: none;
    margin: 30%;
    padding: 5px;
    border-radius: 10px;

}

.escuro button:hover{

    background-color: #9c82e9;
}