#logo{

    height: 70px;
    width: 140px;
    padding: 20px;
    left: 20px;
    position: relative;


}

.margin{

    margin-left: 50px;

}

.txt-input{

    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 450px; 
    background-color: white;
    outline: none;
    margin-left: 5px ;
    
}

.txt-input::selection{

    border: none;
}

.search-bar{

    align-self: center;
    margin-left: 200px;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.titulo{

    display: flex;
    color: white;
    font-size: 32px;
    margin-left: 100px;
}
