.up-bar{

    background-color: rgb(61, 61, 61);
    top: 0px;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.up-bar img{

    height: 70px;
    width: 70px;
    border-radius: 50%;
    right: 20px;
    position: fixed;
}

#logo{

    height: 70px;
    width: 140px;
    padding: 20px;
    left: 20px;
    position: relative;


}

.margin{

    margin-left: 50px;

}

.txt-input{

    margin-left: 350px;
}
