#logo{

    height: 70px;
    width: 140px;
    padding: 20px;
    left: 20px;
    position: relative;

}

.titulo{

    display: flex;
    color: white;
    font-size: 32px;
    margin-left: 100px;
}