.side-bar{

    height: 100%;
    width: 400px;
    left: 0px;
    background-color: rgb(37, 37, 37);
    position: fixed;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
}

.bt{

    display: flex;
    background-color: red;
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
    width: 25px;
    justify-content: center;
    align-items: center;
}

.bt i{

    margin-left: 9px;
}
.bt:hover{

    background-color: brown;
    color: azure;
}

.bar{

    height: 3px;
    width: 90%;
    background-color: rgb(20, 20, 20);
    align-self: center;
}

#bot{

    margin-top: 250px;
}

.side-bar .ab{

    background-color: rgb(37, 37, 37);
    border: none;
    color: rgb(214, 214, 214);
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-start;
    margin-left: 5px;
    padding: 10px;
    border-radius: 15px;
    width: 90%;
    
}

.side-bar .ab:hover{

    background-color: rgb(61, 61, 61);
}


/* cartas */

.catalog{

    height: 100vh;
    margin-left: 410px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card{

    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(41, 41, 41);
    margin: 10px;
    flex: 0 0 calc(25% - 10px);
    align-items: center;
    flex: 0 0 200px;
}
.image{

    height: 100px;
    width: 180px;
    margin: 10px;
    border-radius: 15px;
}

.name{

    margin: 15px;
}

.descirption{

    font-size: 11px;
    margin: 15px;
}
