body{

    background-color: rgb(26, 26, 26);
    position: fixed;
    color: white;
    font-family: monospace;
    margin: 0px;

}

.bt{

    background-color: #7f5af0;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-top: 5px;
}

.bt:hover{

    background-color: #9c82e9;
}

.menu{

    background-color: rgb(61, 61, 61);
}

.txt-input{

    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 300px;
    
}